<ion-header>
  <ion-toolbar>
    <ion-title>News Portal</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Default Refresher -->

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list onload="searchData($event)">
    <ion-item button *ngFor="let item of ( results )" [routerLink]="['/', 'news', item.id]">
      {{item.title}}
    </ion-item>
  </ion-list>
</ion-content>
