<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{information?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    {{information?.text}}
  </ion-card-content>
</ion-content>
